* {
    padding: 0px ;
    margin: 0px ;
}
body{
    overflow-x: hidden;

}
/* html {
    scroll-behavior: smooth;
  } */
/* navbar styling */
.navbar {
    background-color: #212121 !important;
    color: #fff !important;
}

.navbar-brand {
    font-family: monospace;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-left: 90px;
    color: #fff !important;
    text-transform: uppercase !important;
}
.nav-link:hover{
    color:#81c83c !important ;
}

.navbar ul{
    margin-right:  120px !important;
}
.nav-link{    
    font-family: monospace;
    color: #fff !important;
    text-transform: uppercase !important;
    font-weight: 600;
    font-size: 15px;
    padding: 7px;
    margin-right: 10px;
}
.carousel-caption{
    margin-bottom: 130px;
}
.carousel-item h1{
    font-size: 50px;
    text-transform: uppercase !important;
    font-weight: 750;
    font-family: monospace;
    
}

.carousel-item p{
    font-family: monospace;
    font-size: 30px;
    text-transform: uppercase !important;
    font-weight: 600; 
}
.check-btn a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: #fff;
    font-size: 15px !important;
    font-weight: 400;
    border-radius: 25px;
    background-color: #81c83c;
    /* border: 2px solid #ffffff !important; */
}
.check-btn a:hover{
    color: #fff;
    background: none;
     border: 2px solid #ffffff !important;
}
.service-text{
    margin-top: 50px;
    line-height: 0.3;
}
.fa-cogs, .fa-briefcase{
    padding: 5px;
    font-size: 39px !important;
    color: #818183;
}
.service-text:hover>.fa-cogs, .portfolio-title:hover>.fa-briefcase{
    color: #81c83c;

}
.service-text h3{
    font-family: monospace !important;
    font-weight: 700 !important;
    font-size: 40px;
    text-transform: uppercase;
}
.service-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #6c757d;
}
.service-icon{
    margin-top: 20px;

}
.service-content{
    background-color: #fff;
    margin-bottom: 30px !important;
    padding: 30px !important;
    box-sizing: border-box;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
}

.service-icon i{
    font-size: 50px ;
    background-color: #81c83c;
    padding: 9px 12px 13px 12px;
    border-radius: 50px;    
    color: #ffffff;
    margin-bottom: 15px ;
    
}   
.service-icon i :hover{
    color: #42691b !important;
}
.fa-android{ padding: 10px 17px !important;}
.fa-lightbulb-o{padding: 8px 19px !important;}

.service-content h5{
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
}


/* PORTFOLIO STYLING  START*/
.portfolio-title i{
    font-size: 37px !important;
}
.portfolio-title h3{
    font-family: monospace !important;
    font-weight: 700 !important;
    font-size: 40px;
    
    text-transform: uppercase;

}



/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }


.Portfolio {
    position: relative;
    margin: 5px;
    /* border: 2px solid black; */
    float: left;
    width: 300px;
    transition-duration: 0.4s;
    border-radius: 5px;
    animation: winanim 0.5s ;
-webkit-backface-visibility:visible;
    backface-visibility:visible;
    /* box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12) */
}

.Portfolio:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.Portfolio img {
    width: 100%;
    height: auto;
    border-radius: 5px
}


    .nav {
        padding:20px;
        margin-left:200px;
        margin-top:-30px;
    }

    .custom-navlink { 
        margin:5px;
        padding: 10px 20px; 
        font-size:16px;  
        color: black !important;
        background-color:#fff;
        border: 1px solid #81c83c;
        transition-duration: 0.4s;
    }
    .nav a:hover { 
        background:#81c83c; 
        color: #fff !important;
    }
    .nav .active { 
        background-color:#81c83c !important;
        color:#fff !important;
    }

    @keyframes winanim {
        0%{opacity:0;transform:scale3d(.3,.3,.3)}
        50%{opacity:1}
        
    }

/* PORTOFOLIO STYLING END */










/* media queries */
@media (max-width: 768px) {
    .navbar-brand {
        margin-left: 20px ; 
        

     
    }
  }
@media (max-width: 635px) {
    .navbar-brand {
        margin-left: 0px ; 

     
    }
  }



  /* @media (max-width: 768px) {
    body{
        overflow-x: hidden !important   ;
    }
}
@media (max-width: 635px) {
    body{
        overflow-x: hidden !important;
    }
  } */

  /* @media only screen and (max-width: 768px) {
    .carousel-caption{
        margin-top: 130px !important;
    }
}
@media (max-width: 635px) {
    .carousel-caption{
        margin-top: 130px !important;
    }
  } */