* {
    padding: 0px ;
    margin: 0px ;
}
body{
    overflow-x: hidden;

}
/* html {
    scroll-behavior: smooth;
  } */
/* navbar styling */
.navbar {
    background-color: #212121 !important;
    color: #fff !important;
}
.navbar-brand img{
    width: 250px;
    height: 55px;
    padding: 0px;
    margin-left: 90px;
}
/* .navbar-brand {
    font-family: monospace;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-left: 90px;
    color: #fff !important;
    text-transform: uppercase !important;
} */
.nav-link:hover{
    color:#81c83c !important ;
}

.navbar ul{
    margin-right:  120px !important;
}
.nav-link{    
    font-family: monospace;
    color: #fff !important;
    text-transform: uppercase !important;
    font-weight: 600;
    font-size: 18px;
    padding: 6px;
    margin-right: 10px;
}
.carousel-caption{
    margin-bottom: 130px;
}
.carousel-item h1{
    font-size: 50px;
    text-transform: uppercase !important;
    font-weight: 750;
    font-family: monospace;
    
}

.carousel-item p{
    font-family: monospace;
    font-size: 30px;
    text-transform: uppercase !important;
    font-weight: 600; 
}
.check-btn a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: #fff;
    font-size: 15px !important;
    font-weight: 400;
    border-radius: 25px;
    background-color: #81c83c;
    /* border: 2px solid #ffffff !important; */
}
.check-btn a:hover{
    color: #fff;
    background: none;
     border: 2px solid #81c83c !important;
}
.service-text{
    margin-top: 50px;
    line-height: 0.3;
}
.fa-cogs, .fa-briefcase{
    padding: 5px;
    font-size: 39px !important;
    color: #818183;
}
.service-text:hover>.fa-cogs, .portfolio-title:hover>.fa-briefcase{
    color: #81c83c;

}
.service-text h3{
    font-family: monospace !important;
    font-weight: 700 !important;
    font-size: 40px;
    text-transform: uppercase;
}
.service-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #6c757d;
}
.service-icon{
    margin-top: 20px;

}
.service-content{
    background-color: #fff;
    margin-bottom: 30px;
    padding: 30px !important;
    box-sizing: border-box;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
}
.service-content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #6c757d;
    line-height: 1.5 rem;
}

.service-icon i{
    font-size: 50px ;
    background-color: #81c83c;
    padding: 9px 12px 13px 12px;
    border-radius: 50px;    
    color: #ffffff;
    margin-bottom: 15px ;
    
}   
.service-icon i :hover{
    color: #42691b !important;
}
.fa-android{ padding: 10px 17px !important;}
.fa-lightbulb-o{padding: 8px 19px !important;}

.service-content h5{
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
}


/* PORTFOLIO STYLING  START*/
.portfolio-title i{
    font-size: 37px !important;
}
.portfolio-title h3{
    font-family: monospace !important;
    font-weight: 700 !important;
    font-size: 40px;
    text-transform: uppercase;

}
  
  .portfolio-img img {
    display: block;
    width: 350px;
    height: 300px;
  }
  
.portfolio-img i {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .portfolio-img i:hover{
      color: #81c83c;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    /* left: 0;
    right: 0; */
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    width: 350px;
    height: 0;
    transition: .5s ease;
  }
  
  .portfolio-img:hover .overlay {
    height: 300px;
  }
  
  .portfolio-img .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


.portfolio-img{
    position: relative;
    margin: 5px;
    /* border: 2px solid black; */
    float: left;
    width: 300px;
    transition-duration: 0.4s;
    border-radius: 5px;
    animation: winanim 0.5s ;
-webkit-backface-visibility:visible;
    backface-visibility:visible;
    /* box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12) */
}

.nav-port{
    padding:20px;
    margin-left:200px;
    margin-top:-30px;
}

.custom-navlink { 
    margin:5px;
    padding: 10px 20px; 
    font-size:16px;  
    color: black !important;
    background-color:#fff;
    border: 1px solid #81c83c;
    transition-duration: 0.4s;
}
.nav-port a:hover { 
    background:#81c83c; 
    color: #fff !important;
}
.nav-port .active { 
    background-color:#81c83c !important;
    color:#fff !important;
}

@keyframes winanim {
    0%{opacity:0;transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
}

/* PORTOFOLIO STYLING END */


/* freature styling start */


/* .features .container{
     /* The image used */
    /* background-image: url("//images/sldier1.jpg"); */

  /* Set a specific height */
    /* min-height: 500px;  */

  /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
} */
.features{
    margin-top: 20px;
}
.feature-content{
    padding: 7px;
}
.feature-title i{
    padding: 5px;
    font-size: 38px !important;
    color: #818183;
}
.feature-title:hover>.fa-bicycle {
    color: #81c83c;
}
.feature-text{
    padding-left: 55px;
}
.feature-title h3{
    font-family: monospace !important;
    font-weight: 700 !important;
    font-size: 40px;
    text-transform: uppercase;  

}
.feature-content i{
    font-size: 28px;
    color: #81c83c;
}
.feature-content h3{
    font-family: monospace;
    font-size: 21px;
    font-weight: 700;
    line-height: 0.6 rem;
    text-transform: uppercase;
}
.feature-content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #6c757d;
    line-height: 1.5 rem;
}
/* feature styling end */


/* about-company section start */
.aboutcom-title h5{
    font-family: monospace;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    
}
.aboutcom-title h3{
    font-family:monospace;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.aboutcom-title p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #6c757d;
    line-height: 1.5 rem;
    padding: 2px 5px 2px 5px;
}
.aboutcom-text{
    padding-left: 64px !important;
}
.aboutcom-content h3{
    font-family: monospace;
    font-size: 21px;
    font-weight: 700;
    line-height: 0.6 rem;
    text-transform: uppercase;
}
.aboutcom-content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #6c757d;
    line-height: 1.5 rem;
    /* padding: 5px; */
}
.aboutcom-content span{
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    border-radius: 100%;
    display: inline-block;
    background-color:#81c83c;
    padding: 5px 0px 0px 10px !important;
    margin-right: 25px;
}
.aboutcom-content i{
    font-size: 33px ;
}

/* about company styling end */

/* team sectino styling start */
.team{
    background-color: #191919;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 20px;
}
.team-title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.team-title i{
    padding: 5px;
    font-size: 38px !important;
    color: #818183;
}
.team-title:hover>.fa-weixin{
    color: #81c83c;
}

.team-title h3{
    font-family: monospace !important;
    font-weight: 700 !important;
    font-size: 40px;
    text-transform: uppercase;  
    padding: 5px;
}
.team-desc img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border:2px #818183;
    border-style:dashed;

}

.team-desc h5{
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1.0rem;
    margin-top: 20px;
}
.team-desc p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #6c757d;
    padding: 3px;
}
.team-desc a{
    text-align: center;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #5a5f63;
    border-radius: 100%;
    display: inline-block;
    padding: 3px 5px 5px 5px;
    margin-right: 2px;
}

.team-desc .fb:hover{background-color:#3B5998;}
.team-desc .inst:hover{background-color:#fb3958;}
.team-desc .twi:hover{background-color:#00acee;}
.team-desc .lin:hover{background-color:#0e76a8;}
.team-desc .whap:hover{background-color:#075e54;}

.team-members{
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
/* team section styling end */

/* footer styling  start*/
/* .address-section img{
    width: 100%;
    height: 100%;
} */
.address-section {
    background-color: #111111;
    padding-top: 30px;
    padding-bottom: 80px;
    /* width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden; */
}
/* .overlayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.788);
    opacity: 1; */
}
.add-part{
    /* position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%); */
}
.fcontact-title{
    margin-top: 10px;
    margin-bottom: 20px;
}
.fcontact-title i{
    padding: 5px;
    font-size: 38px !important;
    color:#fff}
.fcontact-title:hover>.fa-weixin{
    color: #81c83c;
}

.fcontact-title h3{
    font-family: monospace !important;
    font-weight: 700 !important;
    font-size: 40px;
    text-transform: uppercase; 
    color: #fff; 
    padding: 5px;
}
.fcontact-title img{
    width: 300px;
    height: 80px;
}
.address-section{
    color: #fff;
}
.adr-1 i{
    color: #81c83c;

}
.adr-1{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 15px !important;
    line-height: 0.9rem;
}
.address-section h5{
    font-family: monospace;
    font-size: 22px;
    font-weight: 600;
    color: #81c83c;
    padding-bottom: 8px;
}

.social-links a{
    text-align: center;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #5a5f63;
    border-radius: 100%;
    display: inline-block;
    padding: 3px 5px 5px 5px;
    margin-right: 2px;
}

.fb:hover{background-color:#3B5998;}
.inst:hover{background-color:#fb3958;}
.twi:hover{background-color:#00acee;}
.lin:hover{background-color:#0e76a8;}
.whap:hover{background-color:#075e54;}


.footerbase{
    text-align: center;
    background-color: #42691b;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
/* footer styling end */



/*------------- index page styling end --------------------------*/


/*----------------- about page styling start ----------- */

.banner img{
    width: 100%;
    height: 400px;
    height: 100%;
}
.banner-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*------------------  about page styling end--------------*/


















/* media queries */
@media (max-width: 768px) {
    .navbar-brand {
        margin-left: 20px ; 
        

     
    }
  }
@media (max-width: 635px) {
    .navbar-brand {
        margin-left: 0px ; 

     
    }
  }

@media (max-width: 768px){
    .service-content{
        
        width: 100%;
        margin-left: 20px !important;
        
        
    }
}
@media (max-width: 600px){
    .service-content{
        
        margin-left: 20px !important;
        
    }
}
@media (max-width: 768px){
    .banner-overlay{
        display: none !important;        
    }
}
