/* index.html styling here*/
#main-heading{
    color:  rgb(115, 76,231);
    text-align: center;
    text-decoration: underline
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

/* form styling */
#form-container{
    background-color:rgb(115, 76,231) ;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    width: 900px;    

}

}
label{
    margin-right: 10px;
    
}   

td{
    margin: 5px;
    padding: 10px;
}
/* index.html styling End here */


/* response_form.html styling start from here */

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
#checkmark{
    width: 200px;
    height: 200px;
    margin-top: 100px;
}

h1{
    color: rgb(5, 150, 5);
    font-size: 30px;
}

h3{
    color: rgb(91, 51, 212);
    font-size: 25px;
}

a{
    color: rgb(81, 54, 163);
    font-size: 40px;
}